html, body {
    height: auto;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 8vh;
    display: flex;
    justify-content: center;
}

header p {
    text-align: center;
}

main {
    height: 68vh;
    margin-top: 2vh;
}

main h3 {
    margin-left: 4%;
}

main h1 {
    margin-left: 5%;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: start;
}

footer p {
    margin-top: 8vh;
    margin-left: 1%;
}
